body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} 

button {
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
padding: 10px 20px;
border: none;
background-color: #29712b;
color: white;
text-align: center;
display: inline-block;
border-radius: 4px;
}

button:hover {
    background-color: #29712ba5;
}